* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
header {
    display:flex;
    justify-content: flex-start;        
    color:rgb(82, 77, 77);    
    max-height: 250px;
    margin-left:50px;    
    .xlogo {
        font-size: 150px;
        margin: 0px;                     
    }
    .ologo {
        font-size: 140px;
        margin: 50px 0 0 -60px;        
    }
    h1 {
        margin:40px;
    }
};
.results {
    display:flex;
    justify-content: space-around;
    margin-top:100px;
    .results-1{
        width:250px;
        height: 40px;
        background-color:lightgray;
        margin-left:5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(82, 77, 77);
        padding:0 5px 0 5px;

    }
    .reset {
        width: 200px;
        height: 40px;
        background-color: rgb(81, 107, 81);
        margin-top:80px;
        color: white;
    }
    .results-2 {
        width:250px;
        height: 40px;
        background-color:lightgray;
        margin-right:5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(82, 77, 77);
        padding:0 5px 0 5px;
    }
}
